@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!! \o/</h1>
    <h2>First h2</h2>
    <h3>Also a h3 in the game</h3>
    <p>This is p.</p>
    <p>More pppp</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
